body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .landing {
    position:relative;
    margin: auto;
    width: 100%;
    display: table;
    top: 0;
  }

  .title{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    font-family: interstate, sans-serif;
    font-style: normal;
    font-size: 300%;
  }

  .content{
    /* margin-top: 60px;
    margin-bottom: 60px; */
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
  }

  table {
    min-width: 500px; 
}

table, td, th, tr {
    text-align: left;
    border: 1px solid black;
  }

.sectionTitle {
    font-weight:bold
  }

.topBanner {
    height: 15vw;
    object-fit: cover;
    background:red;
    width:100%;
    /* margin: 0;
    padding: 0; */
  } 

  #usageCounter {
    font-size: large;
    font-weight:bold;
  }

  .padding36 {
    padding-bottom:36px;
  }

  .padding16 {
    padding-bottom:16px;
  }